.button{
    -fx-background-color: black;
    -fx-background-radius:  5 5 5 5;
    -fx-font-family: "Lucida Bright Demibold";
    -fx-text-fill:  #26ffed;
    -fx-font-size: 16px;
}
.table-view{
    -fx-border-color: black;
    -fx-effect: dropshadow(gaussian,  gray, 15, 0.3, 1, 0);
    -fx-font-family: "Lucida Bright";
}
.hbox{
    -fx-background-color: black;
}

.choice-box{
    -fx-background-radius: 16 16 16 16;
    -fx-border-color: black;
    -fx-border-radius: 15 15 15 15;
}
.text-field{
    -fx-font-family: "Lucida Bright";
}