.button{
    -fx-background-color:  #26FFED;
    -fx-background-radius:   20 20 20 20;
    -fx-font-family: "Lucida Bright Demibold";
    -fx-text-fill:  black;
    -fx-font-size: 20px;
}
.vbox{
    -fx-background-color: black;
}